.nd-footer-data {


    margin-top: var(--nd-space-300);
}

.nd-footer-data p {
    text-align: center;
    color: var(--nd-black);
    font-size: var(--nd-space-300);
    margin-bottom: var(--nd-space-0) !important;
}